.sidebarRoom__container {
    height: 70px;
}
.sidebarRoom__container:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.sidebarRoom__hr {
    width: 95%;
    margin: 0 auto;
    background-color: #e6e6e6;
    border: none;
    height: 0.1px;
}

.sidebarRoom__container {
    display: flex;
    align-items: center;
    padding: 0 2.5%;
}
.sidebarRoom__info {
    padding-left: 15px;
}
.sidebarRoom__title {
    font-weight: 600;
    font-size: 16px;
}
.sidebarRoom__lastMessage {
    font-size: 14px;
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


@media screen and (max-width: 1100px) {
    .sidebarRoom__lastMessage {
        width: 200px;
    }
}

@media screen and (max-width: 910px) {
    .sidebarRoom__lastMessage {
        width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .sidebarRoom__info {
        display: none;
    }
    .sidebarRoom__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}